body {
	background-color: #ffffff;
	scrollbar-face-color: #6b8ec6;
	scrollbar-arrow-color: #9900CC;
	scrollbar-track-color: #ccd6f9;
	scrollbar-shadow-color: #9900CC;
	scrollbar-highlight-color: #ccd6f9;
	
	scrollbar-3dlight-color: #6b8ec6;
	scrollbar-darkshadow-Color: #6b8ec6;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: #6f88b3;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	FONT: 10pt verdana, geneva, lucida, ;
	COLOR: #000000;
	PADDING-TOP: 0px;
	background-color: #ffffff;
	text-shadow:1px 1px 0 rgba(255,255,255,0.8);
	
}
.ButtonHead1 {
	 
	border:2px solid #a1a1a1;
	padding:5px 5px; 
	background:#00ADEE;
	color:#FFFFFF;
	font-weight: bold ; 
	width:auto;
	border-radius:5px;
	-moz-border-radius:5px;
    box-shadow: 3px 3px 3px #888888;
	

}
.content {
	 
	font-size:14px;
	color:#333;
	line-height:150%;
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
		
	}
.headings {
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	font-weight:bold;
}
.mainheading{
	font-size:15px;
	font-weight:bold;
	color:#333;
	font:Georgia, "Times New Roman", Times, serif;
}

