BODY {
	MARGIN: 10px 0px 0px;
	BACKGROUND-COLOR: #1B0E60
}

TD {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana
}

.conditions {
	FONT-SIZE: 11px;
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	FONT-FAMILY: arial, verdana
}

.tdtitle {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: Arial
}

.menupadding {
	PADDING-LEFT: 5px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	WIDTH: 203px;
	PADDING-TOP: 0px;
	BACKGROUND-COLOR: #ffffff
}

.smenupadding {
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	WIDTH: 203px;
	PADDING-TOP: 0px;
	BACKGROUND-COLOR: #ffffff
}

.logopadding {
	PADDING-LEFT: 26px
}

.logopadding1 {
	PADDING-LEFT: 26px;
	PADDING-TOP: 5px
}

.terms {
	FONT-SIZE: 10px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana
}

.tdtitle2 {
	FONT-SIZE: 14px;
	COLOR: #d42a08;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana
}

.tdtxt {
	FONT-SIZE: 11px;
	COLOR: #35457f;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana
}

.tdblack {
	FONT-SIZE: 11px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana
}

A.red {
	FONT-SIZE: 11px;
	COLOR: #d1261e;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.red:hover {
	FONT-SIZE: 11px;
	COLOR: #d1261e;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: underline
}

A.copy {
	FONT-SIZE: 11px;
	COLOR: #d1261e;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.copy:hover {
	FONT-SIZE: 11px;
	COLOR: #d1261e;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: underline
}

.content {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-TOP: 15px;
	TEXT-ALIGN: justify
}

.tablehead {
	BACKGROUND-IMAGE: url(../images/tablehead.gif);
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 31px
}

.tablehead1 {
	BACKGROUND-IMAGE: url(../images/tablehead1.gif);
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 45px
}

.tablebg {
	BACKGROUND-POSITION: 50% bottom;
	BACKGROUND-IMAGE: url(../images/tablebg.gif);
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 26px
}

.dottedlines {
	BACKGROUND-IMAGE: url(../images/dottedlines_ver.gif);
	BACKGROUND-REPEAT: repeat-y
}

.dottedlines1 {
	BACKGROUND-IMAGE: url(../images/dottedlines.gif);
	BACKGROUND-REPEAT: repeat-y
}

.txtredbold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #cf1e16
}

.txtbluebold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #2b3a6e;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana
}

.tdbtmlinks {
	FONT-SIZE: 10px;
	COLOR: #c0c4d4;
	FONT-FAMILY: verdana
}

.tdbtmlinks1 {
	FONT-SIZE: 11px;
	COLOR: #c0c4d4;
	FONT-FAMILY: verdana
}

.tdcopyright {
	FONT-SIZE: 10px;
	COLOR: #8891ae;
	FONT-FAMILY: verdana
}

A.tdcopyright1 {
	FONT-SIZE: 10px;
	COLOR: #8891ae;
	FONT-FAMILY: verdana
}

A.tdcopyright1:hover {
	FONT-SIZE: 10px;
	COLOR: #8891ae;
	FONT-FAMILY: verdana
}

A {
	FONT-SIZE: 10px;
	COLOR: #c0c4d4;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A:hover {
	FONT-SIZE: 10px;
	COLOR: #c0c4d4;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: underline
}

A.left {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.left:hover {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.corporate {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #cc0000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.corporate:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #cc0000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.left1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.left1:hover {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.vas {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana;
	TEXT-DECORATION: none
}

A.vas:hover {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: arial, verdana;
	TEXT-DECORATION: underline
}

A.black {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}

A.black:hover {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

A.networks {
	FONT-SIZE: 11px;
	COLOR: #173885;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: underline
}

A.networks:hover {
	FONT-SIZE: 11px;
	COLOR: #888888;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

A.lnk10red {
	FONT-SIZE: 10px;
	COLOR: #cf1e16;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

A.lnk10red:hover {
	FONT-SIZE: 10px;
	COLOR: #2b3a6e;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

A.lnk11red {
	FONT-SIZE: 12px;
	COLOR: #cf1e16;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

A.lnk11red:hover {
	FONT-SIZE: 12px;
	COLOR: #2b3a6e;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

.tblBorder {
	BACKGROUND-COLOR: #cad2e3
}

.tblHead {
	BACKGROUND-COLOR: #d6d9e5
}

.tblBody {
	BACKGROUND-COLOR: #ffffff
}

.ip {
	COLOR: #cc0000
}

.buttonbold13 {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BORDER-LEFT: #999999 1px solid;
	COLOR: #333333;
	BORDER-BOTTOM: #999999 1px solid;
	FONT-FAMILY: 'Trebuchet MS';
	width: 100%;
	color: #FFFFFF;
	background-color: #663366;
}

.txtbox {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #cccccc 1px solid;
	WIDTH: 145px;
	BORDER-BOTTOM: #cccccc 1px solid;
	FONT-FAMILY: arial;
	HEIGHT: 18px;
	BACKGROUND-COLOR: white
}

.txtarea {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #cccccc 1px solid;
	WIDTH: 145px;
	COLOR: #000000;
	BORDER-BOTTOM: #cccccc 1px solid;
	FONT-FAMILY: arial;
	HEIGHT: 70px;
	BACKGROUND-COLOR: white
}

.button {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica,
		sans-serif
}

.cmbbox {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #cccccc 1px solid;
	WIDTH: 170px;
	COLOR: #666666;
	BORDER-BOTTOM: #cccccc 1px solid;
	FONT-FAMILY: verdana;
	HEIGHT: 20px;
	BACKGROUND-COLOR: white
}

.worldbg {
	PADDING-LEFT: 15px;
	BACKGROUND-IMAGE: url(../images/international-map.jpg);
	WIDTH: 550px;
	PADDING-TOP: 75px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 215px
}

.td11blue {
	FONT-SIZE: 11px;
	COLOR: #173885;
	FONT-FAMILY: arial
}

.td12red {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #cf1e16;
	FONT-FAMILY: arial
}

.arrow {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana
}

.paln {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #cc0000;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none
}

.sub UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 0px 45px;
	PADDING-TOP: 5px;
	LIST-STYLE-TYPE: none
}

.sub UL LI {
	BACKGROUND-POSITION: 0px 8px;
	PADDING-LEFT: 15px;
	BACKGROUND-IMAGE: url(../images/arrow.gif);
	PADDING-BOTTOM: 10px;
	BACKGROUND-REPEAT: no-repeat
}

A.connection {
	FONT-SIZE: 12px;
	COLOR: #ff0000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}

A.connection:hover {
	FONT-SIZE: 12px;
	COLOR: #ff0000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: underline
}

.BackGround {
	BACKGROUND-COLOR: #dce4f9;
	FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial,
		helvetica, sans-serif;
	COLOR: #000000;
	PADDING-TOP: 3px;
	WHITE-SPACE: nowrap
}

.BackGround1 {
	BACKGROUND-COLOR: #dce4f9
}

.loginbox {
	border: 1px solid #797979;
	WIDTH: 100px;
	HEIGHT: 20px;
}

.tv10blue {
	FONT-FAMILY: verdana, arial;
	FONT-SIZE: 10px;
	COLOR: #000080;
}

.ta11blue {
	FONT-FAMILY: arial, verdana;
	font-size: 11px;
	COLOR: #3161CE;
}

.tv12black {
	FONT-FAMILY: verdana, arial;
	font-size: 12px;
	COLOR: #000000;
}

.tv10black {
	FONT-FAMILY: verdana, arial;
	font-size: 10px;
	COLOR: #000000;
}

.tv10red {
	FONT-FAMILY: verdana, arial;
	font-size: 10px;
	COLOR: #FF0000;
}

.tv11red {
	FONT-FAMILY: verdana, arial;
	font-size: 11px;
	COLOR: #FF0000;
}

.ta12black {
	FONT-FAMILY: arial, verdana;
	font-size: 12px;
	COLOR: #000000;
}

.ta10black {
	FONT-FAMILY: arial, verdana;
	font-size: 10px;
	COLOR: #000000;
}

.tv11black {
	FONT-FAMILY: verdana, arial;
	font-size: 11px;
	COLOR: #000000;
}

.tv14red {
	FONT-SIZE: 14px;
	COLOR: #FF0000;
	FONT-FAMILY: verdana, arial;
}

.tv12red {
	FONT-SIZE: 12px;
	COLOR: #FF0000;
	FONT-FAMILY: verdana, arial;
}

.tv12red a:hover {
	color: #000080;
	text-decoration: underline;
}

.tv10black {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial;
}

.tv9black {
	FONT-SIZE: 9px;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial;
}

.tv9blue {
	FONT-SIZE: 9px;
	COLOR: #000080;
	FONT-FAMILY: verdana, arial;
}

.ta14white {
	FONT-SIZE: 14px;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, verdana;
}

.tv10green {
	FONT-SIZE: 10px;
	COLOR: #52DFA5;
	FONT-FAMILY: verdana, arial;
}

.bluebottom {
	border-bottom: 1px solid #000080;
}

.blueline1 {
	border-bottom: 1px solid #7FCBFF;
}

.brownline1 {
	border-bottom: 1px solid #DFB180;
}

.greenline1 {
	border-bottom: 1px solid #31BEBD;
}

.grayline1 {
	border-bottom: 1px solid #A5A5A5;
}

.gbotline1 {
	border-bottom: 1px solid #CECBCE;
}

.glbot2 {
	border-bottom: 1px solid #333333;
}

.glbot3 {
	border-bottom: 1px solid #666666;
}

.gline2 {
	border-bottom: 1px solid #999999;
}

.greenline2 {
	border-bottom: 1px solid #7BBA39;
}

.graybottomdline {
	border-bottom: 1px dotted #999999;
}

.graylinelr {
	border-left: 1px solid #A5A5A5;
	border-right: 1px solid #A5A5A5;
}

.topbluborder {
	border-bottom: 3px solid #000080;
}

.tdbottomline14 {
	border-bottom: #C0C0C0 1px solid;
}

.headtableborder1 {
	border-bottom: 2px solid #00008B;
}

.graylinetop {
	border-top: 1px solid #A5A5A5;
}

.grayline2 {
	border-top: 1px solid #333333;
}

.gltop3 {
	border-top: 1px solid #666666;
}

.glinetop1 {
	border-top: 1px solid #C0C0C0;
}

.graylineleft {
	border-left: 1px solid #A5A5A5;
}

.graylineleft1 {
	border-left: 1px solid #CECBCE;
}

.glineleft1 {
	border-left: 1px solid #C0C0C0;
}

.graylineright {
	border-right: 1px solid #A5A5A5;
}

.tdrightline13 {
	border-right: #C0C0C0 1px solid;
}

.bluebox1 {
	border: 1px solid #000080;
}

.bluebox4 {
	border: 1px solid #097CC1;
}

.graybox2 {
	border: 1px solid #999999;
}

.graybox1 {
	border: 1px solid #C0C0C0;
}

.graybox {
	border: 1px solid #A5A5A5;
}

.greenbox5 {
	border: 1px solid #BBB071;
}

.greenbox {
	border: 1px solid #7BBA39;
}

.graybox5 {
	border: 1px solid #D6D9DA;
}

.td1 {
	border-right: 1px solid #7FCBFF;
	border-left: 1px solid #7FCBFF;
}

.titles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .7pc;
	font-weight: bold;
	color: #000066
}

.bord1 {
	border: #000066;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}